/* global.css */

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(120deg, #fbe3c5 0%, #fed8a0 100%);
    background-size: cover;
    background-position: 0 5rem;
}

header {
    background: linear-gradient(90deg, black, black,#fb7100);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header img {
    width: auto;
    height: 5rem;
}

header h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

header button {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: 0.2rem solid white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

header button a {
    text-decoration: none;
    color: white;
}

header button:hover {
    background-color: white;
}

header button:hover > a {
    text-decoration: none;
    color: #00416A;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 1rem;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    
}

.tile img {
    width: auto;
    height: 15rem;
    border-radius: 10px;
}

.tile p {
    margin-top: 0.5rem;
}

.tile p a {
    color: #fb7100;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;
}

.tile p a:hover {
    color: #0400fb;
}

.list p a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .tile img {
        width: auto;
        height: 10rem;
        border-radius: 10px;
    }

    .kirtan-tile{
        grid-column: span 2;
    }
}