body{
    background-image: none;
}

main{
    background-color: white;
}

h2{
    font-family: 'Noto Serif Gurmukhi', serif;
    font-size: 2.2rem;
    text-align: center;
    background-image: linear-gradient(#FF9933,#000080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0 2rem;
}
  
p{
    font-family: 'Noto Serif Gurmukhi', serif;
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 30px;
    padding: 0px 1rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.player{
    display: flex;
    align-items: center;
    gap: 20px ;
    max-width: 200px;
    border: 1px solid rgba(219, 212, 212, 0.295);   
    background-color: rgba(211, 203, 203, 0.304);
    border-radius: 10px;
    padding: 10px;
}

.progress-container {
    background: #dbdbdb84;    
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 10rem;
}

.progress {
    background-color: #ff9500b7;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

.fa{
    font-size: 1.5rem;
    color: #6c6c6c;
    cursor: pointer;
}

.fa:hover{
    color: #ff950086;;
}